<div class="vh-100 d-flex flex-column justify-content-between">
    <!-- CAROUSEL -->
    <app-carousel></app-carousel>

    <div class="container mt-3">
        <app-products [visible]="false" [title]="'REPORTAR UN PROBLEMA'"></app-products>
    </div>

    <form class="container">
        <div class="form-group round">
            <label for="exampleFormControlSelect1">
                <span class="blue">Celular de contácto:</span>
            </label>
            <input class="form-control form-control-lg py-3" type="text" placeholder="39213671823">
        </div>
        <div class="form-group round mt-4">
            <label for="exampleFormControlSelect1">
                <span class="blue">Mensaje:</span>
            </label>
            <input class="form-control form-control-lg py-3" type="text" placeholder="hola tengo un problema">
        </div>

        <div class="w-100 text-center mt-4">
            <button routerLink="/recharges" class="btn orange-button" style="width: 23%;">
                <h3 class="text-light">
                    ENVIAR
                </h3>
            </button>
        </div>
    </form>

    <div class="container">
        <!-- FILL OF BUTTONS -->
        <div class="w-100 d-flex justify-content-between mt-3">
            <div style="width: 23%;" *ngFor="let route of routes">
                <button routerLink="{{route.route}}" routerLinkActive="blue-button" class="btn orange-button w-100">
                    <h3 class="m-0 p-0 text-light">{{route.name}}</h3>
                </button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>

</div>