<div class="vh-100 d-flex flex-column justify-content-between">
    <!-- CAROUSEL -->
    <app-carousel></app-carousel>

    <mat-horizontal-stepper class="h-100" [linear]='false' #stepper>
        <mat-step *ngIf="service">
            <app-choose-balance [service]="service" [title]="'RECARGAS'"></app-choose-balance>
        </mat-step>
        <mat-step *ngIf="service">
            <app-entry-number [service]="service"></app-entry-number>
        </mat-step>
        <mat-step *ngIf="service">
            <app-verify-amount [service]="service"></app-verify-amount>
        </mat-step>
        <mat-step *ngIf="service">
            <app-insert-money [typeService]="typeService" (stepperEvent)="stepperEvent(stepper)" [service]="service">
            </app-insert-money>
        </mat-step>
        <mat-step *ngIf="service">
                <app-sucess-pay [service]="service"></app-sucess-pay>
        </mat-step>
    </mat-horizontal-stepper>


    <app-footer></app-footer>

</div>